<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Cutest Favors</title>
  <link rel="stylesheet" href="css/style.css">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Freelancer - Start Bootstrap Theme</title>

  <!-- Bootstrap Core CSS -->
  <link href="css/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

  <!-- Theme CSS -->
  <link href="css//freelancer.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="vendor/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="page-top" class="index">

  <!-- Navigation -->
  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>

        <a href="#page-top"> <img style="height:70px; width:70px;" src="https://img0.etsystatic.com/147/0/7037722/isla_280x280.22586812_34450rmi.jpg"> </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="hidden">
            <a href="#page-top"></a>
            <li class="page-scroll">
              <a style="font-family:'Bradley Hand ITC', 'Comic Sans MS', sans-serif;" href="/home">Home</a>
            </li>
          </li>
          <li class="page-scroll">
            <a style="font-family:'Bradley Hand ITC', 'Comic Sans MS', sans-serif;" href="#quiz">Quiz</a>
          </li>
          <li class="page-scroll">
            <a style="font-family:'Bradley Hand ITC', 'Comic Sans MS', sans-serif;" href="#Dipercakes">Diper cakes</a>
          </li>
          <li class="page-scroll">
            <a style="font-family:'Bradley Hand ITC', 'Comic Sans MS', sans-serif;" href="#Corsages">Corsages</a>
          </li>
          <li class="page-scroll">
            <a style="font-family:'Bradley Hand ITC', 'Comic Sans MS', sans-serif;" href="#About">About</a>
          </li>
          <li class="page-scroll">
            <a style="font-family:'Bradley Hand ITC', 'Comic Sans MS', sans-serif;" href="#Contact">Contacts</a>
          </li>

        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

  <!-- Header -->
  <header style="background:#ccffe6;">
    <div class="container">
      <div class="row">

        <div class="col-lg-12">

        </div>



        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img style="width:2000px; height:400px;" src="http://4.bp.blogspot.com/-J7Tdar0If84/VH4hb9iQxPI/AAAAAAAAJw4/27DxWzJyjH8/s1600/baby-shower-favor-ideas-for-boys.jpg" alt="Los Angeles">
              <div style="text-align:center;" class="carousel-caption">
                <h1 style="font-family:'Bradley Hand ITC', 'Comic Sans MS', sans-serif; text-align:center;">Cutest Favors</h1>
                <p style="font-family:'Bradley Hand ITC', 'Comic Sans MS', sans-serif; text-align:center;">Baby Shower Corsages and favors Handmade with Love</p>
              </div>
            </div>

            <div class="item">
              <img style="width:2000px; height:400px;" src="https://s-media-cache-ak0.pinimg.com/originals/78/74/88/787488f897a807ec20210ec531ead580.jpg" alt="Chicago">
              <div style="text-align:center;" class="carousel-caption">
                <h1 style="font-family:'Bradley Hand ITC', 'Comic Sans MS', sans-serif; text-align:center;">Cutest Favors</h1>
                <p style="font-family:'Bradley Hand ITC', 'Comic Sans MS', sans-serif; text-align:center;">Baby Shower Corsages and favors Handmade with Love</p>
              </div>
            </div>

            <div class="item">
              <img style="width:2000px; height:400px;" src="https://img0.etsystatic.com/009/0/5632626/il_570xN.422077056_q072.jpg" alt="New York">
              <div style="text-align:center;" class="carousel-caption">
                <h1 style="font-family:'Bradley Hand ITC', 'Comic Sans MS', sans-serif; text-align:center;">Cutest Favors</h1>
                <p style="font-family:'Bradley Hand ITC', 'Comic Sans MS', sans-serif; text-align:center;">Baby Shower Corsages and favors Handmade with Love</p>
              </div>
            </div>
          </div>

          <!-- Left and right controls -->
          <a class="carousel-control-previous" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>




      </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
  </header>


  <!-- Portfolio Grid Section -->
  <section id="Dipercakes">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 style="font-family:'Bradley Hand ITC', 'Comic Sans MS', sans-serif; text-align:center;">Diper Cakes</h2>
          <hr class="star-primary">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4 portfolio-item">
          <!--                     <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal"> -->
          <div class="caption">
            <!--                             <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div> -->
          </div>
          <br><br>
          <a href="https://www.etsy.com/shop/cutestfavors">
            <img style="width: 350px; height: 400px; border: solid;" src="http://scontent.cdninstagram.com/t51.2885-15/sh0.08/e35/p750x750/11351989_427030667487591_1073159281_n.jpg?ig_cache_key=MTEyMDM4MjU0MTcwNzY3NjI1Mg%3D%3D.2" class="img-responsive" alt="">
          </a>
          <h4 style="font-family:'Bradley Hand ITC', 'Comic Sans MS', sans-serif; text-align:center;">
              GIRL BABY SHOWER // SAFARI THEMED// DIPER CAKE
              </h4>
        </div>

        <br>
        <div class="col-sm-4 portfolio-item">
          <!--                     <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal"> -->
          <div class="caption">
            <!--                             <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div> -->
          </div>
          <br>
          <a href="https://www.etsy.com/shop/cutestfavors">
            <img style="width:350px; height: 400px; border: solid;" src="http://scontent.cdninstagram.com/t51.2885-15/s480x480/e35/11252364_470787776424591_353737176_n.jpg?ig_cache_key=MTA4NDcxMDE3ODczOTc4MzgzMQ%3D%3D.2" class="img-responsive" alt="">
          </a>
          <h4 style="font-family:'Bradley Hand ITC', 'Comic Sans MS', sans-serif; text-align:center;">
                        GIRL BABY SHOWER // PRINCESS THEMED DIPER 
                  </h4>
        </div>

        <br>
        <div class="col-sm-4 portfolio-item">
          <!--                     <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal"> -->
          <div class="caption">
            <!--                             <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div> -->
          </div>
          <a href="https://www.etsy.com/listing/292085977/girl-baby-shower-turquoise-and-white?ref=related-2">
            <img style="width:350px; height: 400px; border: solid;" src="https://img0.etsystatic.com/122/0/7037722/il_570xN.967759882_7vj2.jpg" class="img-responsive" alt="">
          </a>
          <h4 style="font-family:'Bradley Hand ITC', 'Comic Sans MS', sans-serif; text-align:center;">
                    Girl Baby shower // Turquoise and white diaper cake // Small Diaper cake centerpiece // Baby Shower Gift
                  </h4>
        </div>
        
        <div class="col-sm-4 portfolio-item">
          <!--                     <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal"> -->
          <div class="caption">
            <!--                             <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div> -->
          </div>
          <a href="https://www.etsy.com/shop/cutestfavors">
            <img style="width:350px; height: 400px; border: solid;" src="http://scontent.cdninstagram.com/t51.2885-15/s480x480/e15/1391239_186523874884317_1931123693_n.jpg?ig_cache_key=NjEwMzg0MTc5ODM0MTkzOTU2.2" class="img-responsive" alt="">
          </a>
          <h4 style="font-family:'Bradley Hand ITC', 'Comic Sans MS', sans-serif; text-align:center;">
                    girl baby shower // lime green & pink // mini diper cake // centerpiece
                  </h4>
        </div>
        
        
        
        
        
        <br>
        <div class="col-sm-4 portfolio-item">
          <!--                     <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal"> -->
          <div class="caption">
            
             </div>
          <a href="https://www.etsy.com/shop/cutestfavors">
            <img style="width:350px; height: 400px; border: solid;" src="http://scontent.cdninstagram.com/t51.2885-15/s750x750/sh0.08/e35/17596694_1857019561238015_4823527721160146944_n.jpg?ig_cache_key=MTQ4MDc4NDgyMTUwMzQ4MzE5NQ%3D%3D.2" class="img-responsive" alt="">
          </a>
          <h4 style="font-family:'Bradley Hand ITC', 'Comic Sans MS', sans-serif; text-align:center;">
                    GIRL DIPER CAKE // LIME GREEN & PINK THEMED // DIPER CAKE
                  </h4>
        </div>
        <br>
        <div class="col-sm-4 portfolio-item">
          <!--                     <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal"> -->
          <div class="caption">
          
          </div>
          <a href="https://www.etsy.com/shop/cutestfavors">
            <img style="width:350px; height: 400px; border: solid;" src="http://scontent.cdninstagram.com/t51.2885-15/sh0.08/e35/p750x750/13743133_264257953955665_1200318625_n.jpg?ig_cache_key=MTMwMTYyMzk1MTkyMzE0MTExNg%3D%3D.2" class="img-responsive" alt="">
          </a>
          <h4 style="font-family:'Bradley Hand ITC', 'Comic Sans MS', sans-serif; text-align:center;">
                BOY BABY SHOWER // SAFARI THEMED // SMALL DIPER CAKE // CENTERPIECE
              </h4>
          <h4 style="font-family:'Bradley Hand ITC', 'Comic Sans MS', sans-serif; border:solid; text-align:center;">
      <a href="https://www.etsy.com/shop/cutestfavors">~~~~~ more ~~~~~~</a>
         </h4>
        </div>

      </div>
    </div>

  </section>

  <section id="Corsages">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 style="font-family:'Bradley Hand ITC', 'Comic Sans MS', sans-serif; text-align:center;"> Corsages</h2>
          <hr class="star-primary">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 portfolio-item">
          <!--                     <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal"> -->
          <div class="caption">
            <!--                             <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div> -->
          </div>
          <a href="https://www.etsy.com/listing/238919199/cowboy-baby-shower-boy-baby-shower?ref=related-4">
            <img style="width: 350px; height: 400px; border: solid;" src="https://img0.etsystatic.com/136/0/7037722/il_570xN.1000062950_rspt.jpg" class="img-responsive" alt="">
          </a>
          <h4 style="font-family:'Bradley Hand ITC', 'Comic Sans MS', sans-serif; text-align:center;">
                    Cowgirl baby shower corsage // Mommy-to-be corsage // Pink and brown baby shower               
                  </h4>
        </div>

        <div class="col-sm-4 portfolio-item">
          <!--                     <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal"> -->
          <div class="caption">
            <!--                             <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div> -->
          </div>
          <a href="https://www.etsy.com/listing/220549473/baby-co-baby-shower-mom-to-be-corsage?ref=related-6">
            <img style="width: 350px; height: 400px; border: solid;" src="https://img0.etsystatic.com/105/0/7037722/il_570xN.988074888_n6lm.jpg" class="img-responsive" alt="">
          </a>
          <h4 style="font-family:'Bradley Hand ITC', 'Comic Sans MS', sans-serif; text-align:center;">
                    Baby & co Baby shower Mom-To-Be corsage // Mommy-to-be corsage // Turquoise and White
                  </h4>
        </div>


        <div class="col-sm-4 portfolio-item">
          <!--                     <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal"> -->
          <div class="caption">
            <!--                             <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div> -->
          </div>
          <a href="https://www.etsy.com/listing/238062179/baby-shower-mommy-to-be-corsage-girl?ref=related-3">
            <img style="width: 350px; height: 400px; border: solid;" src="https://img1.etsystatic.com/068/0/7037722/il_570xN.791641247_gv2c.jpg" class="img-responsive" alt="">
          </a>
          <h4 style="font-family:'Bradley Hand ITC', 'Comic Sans MS', sans-serif; text-align:center;">
                   Baby shower Mommy-to-be corsage // Girl Baby shower corsage // Pink Gold Baby shower
                  </h4>
        </div>

        <div class="col-sm-4 portfolio-item">
          <!--                     <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal"> -->
          <div class="caption">
            <!--                             <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>s
                            </div> -->
          </div><br>
          <a href="https://www.etsy.com/listing/201525164/cowgirl-baby-shower-corsage-mommy-to-be?ref=related-2">
            <img style="width: 350px; height: 400px; border: solid;" src="https://img0.etsystatic.com/104/0/7037722/il_570xN.993868406_ihe1.jpg" class="img-responsive" alt="">
          </a>
          <h4 style="font-family:'Bradley Hand ITC', 'Comic Sans MS', sans-serif; text-align:center;">
                    Cowgirl baby shower corsage // Mommy-to-be corsage // Pink and brown baby shower
                  </h4>

        </div>

        <div class="col-sm-4 portfolio-item">
          <!--                     <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal"> -->
          <div class="caption">
            <!--                             <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div> -->
          </div><br>
          <a href="https://www.etsy.com/listing/521858211/stork-baby-shower-corsage-lime-green-and?ref=related-5">
            <img style="width: 350px; height: 400px; border: solid;" src="https://img0.etsystatic.com/151/0/7037722/il_570xN.1171554980_odnl.jpg" class="img-responsive" alt="">
          </a>
          <h4 style="font-family:'Bradley Hand ITC', 'Comic Sans MS', sans-serif; text-align:center;">
                  Stork baby shower corsage // Lime green and pink corsage // its a girl Baby Shower corsage
                  </h4>
        </div>

        <div class="col-sm-4 portfolio-item">
          <!--                     <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal"> -->
          <div class="caption">
            <!--                             <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div> -->
          </div><br>
          <a href="https://www.etsy.com/listing/232217800/baby-co-baby-shower-daddy-to-be-pin-baby?ref=related-8">
            <img style="width: 350px; height: 400px; border: solid;" src="https://img1.etsystatic.com/141/0/7037722/il_570xN.1171695361_mtfv.jpg" class="img-responsive" alt="">
          </a>
          <h4 style="font-family:'Bradley Hand ITC', 'Comic Sans MS', sans-serif; text-align:center;">
              Baby & co Baby shower // daddy-to-be pin // Baby shower corsage // Dad's corsge
                  </h4>
          <br>
          <h4 style="text-align:center;  font-family:'Bradley Hand ITC', 'Comic Sans MS', sans-serif; border: solid;">
      <a href="https://www.etsy.com/shop/cutestfavors">~~~~~ more ~~~~~~</a>
         </h4>

        </div>
      </div>
    </div>

  </section>




  <!-- About Section -->

  <section class="success" id="About">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">

          <h2 style="color:black; font-family:'Bradley Hand ITC', 'Comic Sans MS', sans-serif;">About</h2>
          <hr class="star-light">
        </div>
      </div>
      <h3 style="text-align:center; color:black; font-family:'Bradley Hand ITC', 'Comic Sans MS', sans-serif;">
             	Díana
          </h3>
      <h5 style="text-align:center; color:black; font-family:'Bradley Hand ITC', 'Comic Sans MS', sans-serif;">
           Owner, Customer Service, Designer
          </h5>
      <p style="text-align:center; color:black; font-family:'Bradley Hand ITC', 'Comic Sans MS', sans-serif;">
        Thank you for visiting Cutest Favors I'm a stay home mommy of 4 beautiful children 2 girls, 2 boys :) Cutest Favors is my 5th baby, My main focus is providing my customers with creative, unique options to make your event memorable
      </p>
    </div>
    </div>
    </div>
  </section>

  <!-- Contact Section -->
  <section id="quiz">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <form method="POST" action="/quiz">
            <h2 style="text-align:center; border:solid; font-family:'Bradley Hand ITC', 'Comic Sans MS', sans-serif;"> <a
          href="/quiz">Quiz recommender</a></h2></div>
      </div>
    </div>

  </section>

  <!-- Footer -->
  <section id="Contact">
  </section>
  <footer id="Contact" class="text-center">
    <div class="footer-above">
      <div class="container">
        <div class="row">
          <div class="footer-col col-md-4">
            <h3 style="font-family:'Bradley Hand ITC', 'Comic Sans MS', sans-serif;">Contact</h3>
            <p style="font-family:'Bradley Hand ITC', 'Comic Sans MS', sans-serif;">E-mail: cutestfavors@gmail.com</p>
          </div>
          <div class="footer-col col-md-4">
            <h3 style="font-family:'Bradley Hand ITC', 'Comic Sans MS', sans-serif;">Around the Web</h3>


            <ul class="list-inline">
              <li>
                <a href="https://www.facebook.com/cutestfavors"><img style="height: 40px; width:40px;" src="http://retail-insurance.hwenet.com/wp-content/uploads/sites/98/2015/04/facebook-circle.png"></a>
              </li>
              <li>
                <a href="https://www.instagram.com/cutest_favors/"><img style="height: 40px; width:40px;" src="https://cdn4.iconfinder.com/data/icons/social-messaging-ui-color-shapes-2-free/128/social-instagram-new-circle-512.png"></a>
              </li>



            </ul>
          </div>
          <div class="footer-col col-md-4">
            <h3 style="font-family:'Bradley Hand ITC', 'Comic Sans MS', sans-serif;">Owner</h3>
            <p style="font-family:'Bradley Hand ITC', 'Comic Sans MS', sans-serif;">Diana</p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-below">
      <div class="container">
        <div class="row">
          <div style="font-family:'Bradley Hand ITC', 'Comic Sans MS', sans-serif;" class="col-lg-12">
            Copyright &copy; Cutest Favors 2017
          </div>
        </div>
      </div>
    </div>
  </footer>


  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
    <a class="btn btn-primary" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>

  <!-- Portfolio Modals -->
  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>Project Title</h2>
              <hr class="star-primary">
              <img src="img/portfolio/cabin.png" class="img-responsive img-centered" alt="">
              <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase
                the entire set with 146 icons for only $12!</p>
              <ul class="list-inline item-details">
                <li>Client:
                  <strong><a href="http://startbootstrap.com">Kpop</a>
                                    </strong>

                </li>
                <li>Date:
                  <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                </li>
                <li>Service:
                  <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                </li>
              </ul>
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>Project Title</h2>
              <hr class="star-primary">
              <img src="img/portfolio/cake.png" class="img-responsive img-centered" alt="">
              <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase
                the entire set with 146 icons for only $12!</p>
              <ul class="list-inline item-details">
                <li>Client:
                  <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                </li>
                <li>Date:
                  <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                </li>
                <li>Service:
                  <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                </li>
              </ul>
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>Project Title</h2>
              <hr class="star-primary">
              <img src="img/portfolio/circus.png" class="img-responsive img-centered" alt="">
              <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase
                the entire set with 146 icons for only $12!</p>
              <ul class="list-inline item-details">
                <li>Client:
                  <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                </li>
                <li>Date:
                  <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                </li>
                <li>Service:
                  <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                </li>
              </ul>
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>Project Title</h2>
              <hr class="star-primary">
              <img src="img/portfolio/game.png" class="img-responsive img-centered" alt="">
              <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase
                the entire set with 146 icons for only $12!</p>
              <ul class="list-inline item-details">
                <li>Client:
                  <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                </li>
                <li>Date:
                  <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                </li>
                <li>Service:
                  <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                </li>
              </ul>
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>Project Title</h2>
              <hr class="star-primary">
              <img src="img/portfolio/safe.png" class="img-responsive img-centered" alt="">
              <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase
                the entire set with 146 icons for only $12!</p>
              <ul class="list-inline item-details">
                <li>Client:
                  <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                </li>
                <li>Date:
                  <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                </li>
                <li>Service:
                  <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                </li>
              </ul>
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>Project Title</h2>
              <hr class="star-primary">
              <img src="img/portfolio/submarine.png" class="img-responsive img-centered" alt="">
              <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase
                the entire set with 146 icons for only $12!</p>
              <ul class="list-inline item-details">
                <li>Client:
                  <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                </li>
                <li>Date:
                  <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                </li>
                <li>Service:
                  <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                </li>
              </ul>
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- jQuery -->
  <script src="css/vendor/jquery/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="css/vendor/bootstrap/js/bootstrap.js"></script>

  <!-- Plugin JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.js"></script>

  <!-- Contact Form JavaScript -->
  <script src="js/jqBootstrapValidation.js"></script>
  <script src="js/contact_me.js"></script>

  <!-- Theme JavaScript -->
  <script src="js/freelancer.js"></script>

</body>

</html>